/packages
/artifacts
/JavaApp/.gradle
/JavaApp/build
/JavaApp/local_out
/Natives/AngelAuraAmethyst
/Natives/build
.DS_Store
xcshareddata/
xcuserdata/
project.xcworkspace/
/depends
/Natives/config.h
entitlements.codesign.xml

.iflow/
IFLOW.md
gha-creds-*.json
$null
Amethyst-iOS-MyRemastered--Mod-1.0-.zip
commit-message.txt
logs_48953460537.zip
logs_48953460537/
IFLOW.md
