/packages
/artifacts
/JavaApp/.gradle
/JavaApp/build
/JavaApp/local_out
/Natives/Flux
/Natives/build
.DS_Store
xcshareddata/
xcuserdata/
project.xcworkspace/
/depends
/Natives/config.h
entitlements.codesign.xml
$null
/temp
/docs
